HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!feature-flag-service/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!feature-flag-service/src/main/**/build/
!feature-flag-service/src/test/**/build/

### VS Code ###
.vscode/

.gitattributes
.mvn/
mvnw.cmd
mvnw

### Frontend ###
node_modules/
dist/
.env
.DS_Store
coverage/
